<main-nav></main-nav>
<div class="container">

  <h1>Projects</h1>

  <section class="projects">

    <button ng-click="showAddProjectForm = !showAddProjectForm">New Project</button>

    <div class="api-error">
      <div class="error" ng-repeat="error in projectsCtrl.errors" ng-show="projectsCtrl.errors">{{error}}</div>
    </div>

    <add-project-form></add-project-form>

    <div class="project" ng-repeat="project in projectsCtrl.projects | orderBy:'created_at':true">

      <div class="project-container" ng-hide="editProjectForm.showEditProjectForm">
        <h3 class="left"><div ng-click="projectsCtrl.titleClick(project)">{{project.title}}</div></h3>

        <div class="controls right">
          <span ng-click="editProjectCtrl.copyProject(project); editProjectForm.showEditProjectForm = !editProjectForm.showEditProjectForm">Edit</span>
          <span ng-click="projectsCtrl.delete(project)">Delete</span>
        </div>

        <p class="clear">{{project.client}}</p>
        <p>{{project.description}}</p>
      </div>

      <edit-project-form></edit-project-form>

    </div> <!-- end of .project -->

  </section>

  <section class="logo">
    <img src="assets/images/cri_logo.png">
  </section>

</div>
