.states {
  white-space: nowrap;
}

.state {
  display: inline-block;
  white-space: normal;
  width: 300px;
  text-align: center;
  border: 1px solid #555;
  border-radius: 4px;
  margin: 0 2px;
  background: #ddd;
  padding-bottom: 10px;
  vertical-align: top;
  &:first-child {
    .add-button {
      display: block;
    }
  }
}

.state-title {
  position: relative;
  border-bottom: 1px solid #555;
  color: #fff;
  background: #555;
  padding: 10px 0;
  margin-bottom: 15px;
  .add-button {
    position: absolute;
    top: 7px;
    right: 10px;
    display: none;
    font-size: 16px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    color: #555;
    display: none;
    &:hover {
      cursor: pointer;
    }
  }
}
