<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        Crutch
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Projects</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      <!--<ul class="nav navbar-nav navbar-right mainNav-text">-->
        <!--<li>Application was created {{ mainNav.relativeDate }}.</li>-->
      <!--</ul>-->
    </div>
  </div>
</nav>
